absl-py
pyparsing
jupyterlab
scikit-image
termcolor
git+https://github.com/google-deepmind/dm_control.git
tb-nightly
imageio
imageio-ffmpeg
git+https://github.com/facebookresearch/hydra@0.11_branch
pandas
ipdb
tqdm
torchvision
yapf
mujoco_py
scikit-learn
matplotlib
gym
kornia
